body {
    background-color: #ffffff;
    margin: 0;
    margin-bottom: 15%;
}

h1 {
    color: #13222F;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #13222F;
    font-family: 'Montserrat', sans-serif;
    margin-top: 70px;
}

p {
    color: #2E3A44;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}

a {
    color: #2E3A44;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a.button {
    color: #ffffff;
    background-color: #20A957;
    padding: 10px;
}

.nav {
    position: fixed;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.nav_elements {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

ul.nav_elements li.nav_elements {
    margin: 10px;
}

li.nav_elements a:hover {
    color: #7A848D;
}

a.active {
    color: #20A957;
}

.nav_logo {
    color: #20A957;
    font-size: 30px;
}

div#hero_section {
    background-image: url('images/hero_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110%;
    max-height: 600px;
    display: flex;
    align-items: center;
}

.row {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

div#section {
    padding-top: 2%;
}

div#section img {
    width: 30%;
    max-width: 400px;
    object-fit: fill;
}

div.img_grid {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;
}
.two_columns {
    display: flex;
    flex-flow: row wrap;
    margin-top: 3%;
    width: 100%;
}
.contact_text {
    margin-left: 5%;
}
.color_text {
    color: #20A957;
}
#contact_image {
    height: 100%;
    object-fit: fill;
}

@media screen and (max-width: 600px) {
    .nav {
        display: flex;
        flex-flow: column wrap;
        padding: 3%;
        margin-top: 0;
    }
    h1 {
        font-size: 36px;
    }
    div#hero_section {
        background-position: 50% 0%;
    }
    div#section {
        padding-top: 15%;
    }
    div.img_grid {
        display: flex;
        flex-direction: column;
    }
    div#section img {
        width: 100%;
        max-height: 130px;
        object-fit: cover;
    }
}
